<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p class="nopaddingall">Copyright &copy; Hacking Pirates 2016</p>
                <p class="nopaddingall">Website template: <a href="https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE">MIT</a> by <a href="http://startbootstrap.com">Start Bootstrap</a></p>
                <p class="nopaddingall">Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></p>
                <p class="nopaddingall">Images taken from <a href="http://www.europeanbusinessreview.com/?p=4911">europeanbusinessreview.com</a></p>
                <p class="nopaddingall">Images taken from <a href="http://www.triplepundit.com/2012/05/crowdsourcing-small-medium-sized-businesses/">triplepundit.com</a></p>
                <p class="nopaddingall">Images taken from <a href="https://magic.piktochart.com/output/5870243-10-event-technology-trends">magic.piktochart.com</a></p>
                <p class="nopaddingall">Images taken from <a href="http://www.ipaf.org/fileadmin/user_upload/documents/en/MEWP_Safety_Standards_and_Good_Practice.pdf">ipaf.org</a></p>
                <p class="nopaddingall">Images taken from <a href="http://www.adictivomagazine.org/category/21-century-news/">adictivomagazine.org</a></p>
                <p class="nopaddingall">Images taken from <a href="http://www.istockphoto.com/photo/blue-sky-with-one-white-cloud-in-middle-copy-space-gm499908411-43108134">istockphoto.com</a></p>

            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="/public/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/public/js/bootstrap.min.js"></script>

<!-- FORM VALIDATION ENGINE -->
<script type="text/javascript" src="../public/js/jquery.validationEngine.js"></script>
<script type="text/javascript" src="../public/js/jquery.validationEngine-en.js"></script>

<!-- App JS -->
<script src="/public/js/main.js"></script>

<!-- Script to Activate the Carousel -->
<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
</script>

</body>

</html>
